@model MonsterWebApp.Models.WeaponsResult
@* We need multiple fields in a form to catch input, then send the inputs as a HTTP POST to the API, we also need to serialize the info for the info getting pushed out.*@

<form method="post">

    @*This will be based off of our Weapons Result Model. When we pass it back to the API, it should translate into their Blade Model.*@
    <label for="Name">Name</label>
    <input maxlength="30" name="name" required />
    <br />
    <label for="HasChild">Can be upgraded?</label>
    <select name="HasChild">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <label for="WeaponClass">WeaponClass</label>
    <select name="WeaponClass">
        <option value="Long Sword">Long Sword</option>
        <option value="Great Sword">Great Sword</option>
        <option value="Dual Blades">Dual Blades</option>
        <option value="Poison">Poison</option>
    </select>
    <br />
    <label for="PurpleParent">Parent Blade</label>
    <input name="PurpleParent" />
    <br />
    <label for="RawDamage">RawDamage</label>
    <input type="number" minvalue="0" name="RawDamage" required />
    <br />
    <label for="Description">Description</label>
    <input maxlength="200" name="Description" />
    <br />
    <label for="ElementType">ElementType</label>
    <select name="ElementType">
        <option value="Fire">Fire</option>
        <option value="Ice">Ice</option>
        <option value="Lightning">Lightning</option>
        <option value="Poison">Poison</option>
    </select>
    <br />
    <label for="ElementDamage">ElementDamage</label>
    <input type="number" maxlength="10" name="ElementDamage" required />
    <br />
    <label for="Sharpness">Sharpness</label>
    <input type="number" maxlength="20" name="Sharpness" required />
    <br />
    <label for="affinity">Affinity</label>
    <input maxlength="10" type="number" name="affinity" required />
    <br />
    <label for="slots">Slots</label>
    <input type="number" maxlength="1" max="3" min="0" name="slots" required />
    <br />
    <label for="defense">Defense</label>
    <input type="number" maxlength="7" minvalue="0" name="defense" required />
    <br />
    @*<label for="imgUrl">imgUrl</label>
    <input type="image" name="imgUrl" />*@
    <br />

    @*We need to link the materials to a quantity, need 2 fields for each material?*@

    <br /><br />

    <select id="materials" name="Materials">
        @foreach (var i in ViewBag.Materials)
        {
            <option value=@i.Name>@i.Name</option>
        }
    </select>
    <input type="number" maxlength="3" name="Quantity" placeholder="Quantity" />
    <button name="add" type="button" onclick="addToList(@Model);">Add Material</button><br />

    <br /><br />
    <button type="submit">Add Weapon to Database</button><br />
    <br /><br />
</form>

<script>
    function addToList() {
        $("button.add").click(function (Model) {
            var from = $("#materials").attr("value");
            
        });
    }
</script>