
<form method="post">

    @*This will be based off of our Weapons Result Model. When we pass it back to the API, it should translate into their Blade Model.*@
    <label for="Name">Name</label>
    <input maxlength="30" name="name" />
    <br />
    <label for="HasChild">Has Child : Bool</label>
    <input value="false" name="HasChild" />
    <br />
    <label for="WeaponClass">WeaponClass</label>
    <input maxlength="30" name="WeaponClass" />
    <br />
    <label for="PurpleParent">PurpleParent</label>
    <input name="PurpleParent" />
    <br />
    <label for="RawDamage">RawDamage</label>
    <input type="number" name="RawDamage" />
    <br />
    <label for="Description">Description</label>
    <input maxlength="200" name="Description" />
    <br />
    <label for="ElementType">ElementType</label>
    <input maxlength="10" name="ElementType" />
    <br />
    <label for="ElementDamage">ElementDamage</label>
    <input type="number" maxlength="10" name="ElementDamage" />
    <br />
    <label for="Sharpness">Sharpness</label>
    <input maxlength="20" name="Sharpness" />
    <br />
    <label for="affinity">affinity</label>
    <input maxlength="10" type="number" name="affinity" />
    <br />
    <label for="slots">slots</label>
    <input maxlength="8" name="slots" />
    <br />
    <label for="defense">defense</label>
    <input maxlength="7" name="defense" />
    <br />
    <label for="imgUrl">imgUrl</label>
    <input type="image" name="imgUrl" />
    <br />

    @*We need to link the materials to a quantity, need 2 fields for each material?*@
    <label for="Materials">Materials</label>
    <input maxlength="2" name="Materials" />
    <br />

    <label for="quantity">quantity</label>
    <input maxlength="2" name="quantity" />
    <br />

    @*We also need to add a "add material button, for swords that require more than 2 materials.*@
    <button type="submit">Submit</button>
</form>