################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Monster-Hunter-Web-App/v15
/MonsterWebApp/.vs
