<!DOCTYPE html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#weapons">Weapons</a>
    <a href="#filter">Filter</a>
    <a href="#about">About</a>
</div>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* reference the same css file as _layout*@
</head>



<body>
    <div class="container">

        <div>
            @RenderBody()
        </div>

        
    </div>
</body>


</html>
<div class="footer">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
</div>
