<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* reference the same css file as _layout*@f
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
