<!DOCTYPE html>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="topnav">
    <ul id="leftfloat">
        <li id="img"><img src="~/Img/homeimg.jpg" width="75" height="35">Monster Hunter</li>
    </ul>
    <ul id="rightfloat">
        <li><a asp-action="UserSignUp" asp-controller="UserModel" asp-route-id="">Register</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</nav>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* reference the same css file as _layout*@
</head>



<body>
    <div class="container">

        
            @RenderBody()
        


    </div>
</body>


</html>

<footer>
    <nav>
        <ul>
            <li><a href="https://www.facebook.com/monsterhunter/" class="fa fa-facebook"></a></li>
            <li><a href="https://twitter.com/monsterhunter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a></li>            
            <li><a href="https://www.youtube.com/user/monsterhunter" class="fa fa-youtube"></a></li>
        </ul>
    </nav>
</footer>
