@model MonsterWebApp.Models.UserModel

@{
    Layout = "_Layout";
}

<body>
    <Header>
        <h1>Welcome Monster Hunters</h1>
    </Header>
    
    
    
    <form action="post">
        <div class="container">
      
                    <label><b>Login/Register</b></label><br/>
                    <input type="text" placeholder="Enter Username" name="uname" required> <br/>
            

            <button id="sub" type="submit">Submit</button>

            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw"><a href="#"></a></span>
        </div>


        <div class="imgcontainer">
            <img src="~/img/login-image.jpg" alt="Avatar" class="avatar">
        </div>
    </form>
</body>

