@model MonsterWebApp.Models.UserModel

@{
    Layout = "_Layout";
}

<body>
    <Header>
        <h1>Welcome Monster Hunters</h1>
        <p>Please create a user name for access</p>
    </Header>

    <form action="action_page.php">
        <div class="imgcontainer">
            <img src="~/img/login-image.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <button type="submit"></button>

        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn"></button>
            <span class="psw"><a href="#"></a></span>
        </div>
    </form>
</body>

