@model MonsterWebApp.Models.UserModel

@{
    Layout = "_Layout";
}

<div class="jumbotron" id="sign-up-header">
    <h1 class="display-3">Welcome Monster Hunter</h1>
</div>


<form asp-action="UserSignUp">
    <div class="container">
        <label for="UserName"><b>Login/Register</b></label><br />
        <input type="text" placeholder="Enter Username" name="UserName" required> <br />
        <button id="sub" type="submit">Submit</button>

        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw"><a href="#"></a></span>
    </div>

    <div class="imgcontainer">
        @*<img src="~/img/login-image.jpg" alt="Avatar" class="avatar">*@
    </div>
</form>
