@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*header*/

.topnav {
    background-color: #E7E3E3;
    overflow: hidden;
}

#leftfloat {
    float: left;
    text-align: center;
    padding: 1px 30px;
    width: 25%;
    font-size: 15px;
    text-decoration: none;
}

#leftfloat li {
    list-style: none;
}

#rightfloat {
    float: right;
    text-align: center;
    padding: 1px 30px;
    font-size: 15px;
    width: 20%;
}

#rightfloat li {
    list-style: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.weaponContainer {
    width: 100%;
    height: 100px;
    color: white;
    position: center;
    text-align: center;
    background-image: url("Img/indexPage.jpg");
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

    .weaponContainer h1 {
        margin: auto;
        line-height: 51px;
        vertical-align: middle;
        padding-top: 15px;
    }

body {
    background: #eef3e5;
}

#firstdiv {
    clear: both;
    margin-left: 17%
}

    #firstdiv li {
        float: left;
        list-style: none;
        margin-left: 7%;
        margin-top: 5%;
    }

#seconddiv {
    clear: both;
    margin-left: 17%;
}

    #seconddiv li {
        float: left;
        display: inline-block;
        list-style: none;
        margin-left: 7%;
        margin-top: 5%;
    }

#thirddiv {
    clear: both;
    margin-left: 17%
}

    #thirddiv li {
        float: left;
        list-style: none;
        margin-left: 7%;
        margin-top: 5%;
    } 


/* footer */
footer {
    clear: both;
    background-color: #E7E3E3;
}

    footer nav {
        margin: 0px auto;
        width: 960px;
    }

    footer nav ul {
        margin: 0 auto;
    }

        footer nav ul li {
            display: inline-block;
            margin-right: 500px;
            text-decoration: none;
        }

            footer ul li:first-child {
                margin-right: 600px;
            }

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
}

.fa-youtube {
    background: #CC181E;
    color: white;
    border-radius: 60%;
}
