@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*header*/
.topnav {
    background-color: white;
    overflow: hidden;
}

    .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }


        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }


        .topnav a.active {
            background-color: #b3ffb3;
            color: black;
        }


.weaponContainer {
    width: 100%;
    height: 100px;
    color: white;
    position: center;
    text-align: center;
    background-image: url("Img/indexPage.jpg");
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}ody

    .weaponContainer h1 {
        margin: auto;
        line-height: 51px;
        vertical-align: middle;
        padding-top: 15px;
    }


ul {
    width: auto;
    height: 75%;
}

li {
    background: #eef3e5;
    justify-content: center;
    display: flex;
    float: left;
    width: 40%;
    height: 40%;
    margin: auto;
    padding: 3%;
}

.weapons li {
    justify-content: center;
}



/* footer */
.footer {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .footer a {
        float: right;
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        
        .footer a:hover {
            background-color: #ddd;
            color: black;
        }

       
        .footer a.active {
            background-color: #b3ffb3;
            color: Black;
        }

/* Facebook icon */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter icon */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.7;
    }
