@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-template-areas: "h h h h h h h h h h h h"
                         "c c c c c c c c c c c c"
                         "c c c c c c c c c c c c"
                         "f f f f f f f f f f f f"
}
}

header {
    grid-area: h;
}

li {
    justify-content:center;
    list-style: none;
}

.main {
    grid-area: c;
}


footer {
    grid-area: f;
}
