@model IEnumerable<MonsterWebApp.Models.WeaponsResult>

<div class="container">
    <div class="header">HEADER</div>
    <div class="menu">MENU</div>
    <div class="content">
        @foreach (var i in Model)
    {
        <tr>
            <td> <img src="@i.ImgUrl" height="8%" width="5%" /></td>
            <td>Name: @i.Name</td>
            <br />
            <td>Weapon Class: @i.WeaponClass</td>
            <br />

            <td><a asp-action="GetBladeByID" asp-controller="Home" asp-route-id="@i.Id">View</a></td>
            <hr />
        </tr>

}
    </div>
    <div class="footer">FOOTER</div>
</div>