@model IEnumerable<MonsterWebApp.Models.WeaponsResult>

@{
    Layout = "_LayoutTwo";
}
<link href="style.css" rel="stylesheet">

<head>
    <title>MonsterApp</title>
</head>



<body>
    <div class="weaponContainer">
        <h1>Weapons Selection</h1>
    </div>

    <ul class="selectors">
        <li id="greatSword"><a asp-action="FilterBlade" asp-controller="Home" asp-route-weaponClass="Great Sword">Great Sword</a></li>

        <li id="longSword"><a asp-action="FilterBlade" asp-controller="Home" asp-route-weaponClass="Long Sword">Long Sword</a></li>

        <li id="swordAndShield"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Sword & Shield</a></li>

        <li id="dualBlades"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Dual Blades</a></li>

        <li id="hammer"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Hammer</a></li>

        <li id="huntingHorn"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Hunting Horn</a></li>

        <li id="lance"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Lance</a></li>

        <li id="gunLance"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Great Gunlance</a></li>

        <li id="switchAxe"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Switch Axe</a></li>

        <li id="MyWeapons"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">My Saved Weapons</a></li>

    </ul>

    <td><a asp-action="GetBlade" asp-controller="Home" asp-route-id="">View All Weapons</a></td>

</body>






