@model IEnumerable<MonsterWebApp.Models.WeaponsResult>

<link href="style1.css" rel="stylesheet">



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MonsterApp</title>
</head>

<body>
    <h1>Weapons Selection</h1>


    <ul>
        <li id="greatSword"><a asp-action="FilterBlade" asp-controller="Home" asp-route-weaponClass="Great Sword">Great Sword</a> Select</li>

        <li id="longSword"><a asp-action="FilterBlade" asp-controller="Home" asp-route-weaponClass="Long Sword">Long Sword</a> Select</li>

        <li id="swordAndShield"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Sword & Shield</a> Select</li>

        <li id="dualBlades"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Dual Blades</a> Select</li>

        <li id="hammer"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Hammer</a> Select</li>

        <li id="huntingHorn"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Hunting Horn</a> Select</li>

        <li id="lance"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Lance</a> Select</li>

        <li id="gunLance"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Great Gunlance</a> Select</li>

        <li id="switchArea"><a asp-action="FilterBlade" asp-controller="Home" asp-route-id="">Switch Area</a> Select</li>



        
    </ul>

</body>
</html>





