@model MonsterWebApp.Models.UserWeapons

    @{
        Layout = "_LayoutTwo";
     }
<link href="style.css" rel="stylesheet">

    <div class="container">
    <h1 class="header">Weapons Selection</h1>


    <ul class="weapons">
        <li id="dre">Great Sword</li>
        <li id="jeff">Long Swords</li>
        <li id="3">Sword & Shield</li>
        <li id="4">Dual Blades</li>
        <li id="5">Hammer</li>
        <li id="5">Hunting Horn</li>
        <li id="5">Lance</li>
        <li id="5">Gunlance</li>
        <li id="5">Switch Area</li>
    </ul>
    </div>





